<section >
    <div class="header"></div>
</section>

<section class="topo">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow-lg p-3">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="perfil">
                                <div class="foto-perfil">
                                    <img src="../../../../assets/imgs/img-perfil-1000x1000.png" alt="Foto de perfil">
                                </div>

                            </div>
                            <div class="titulo-empresa pt-2">
                                <b>Jéssica Caroline Massoterapeuta</b>
                            </div>
                            <div class="avaliacao">
                                <span class="estrela" data-valor="1">&#9733;</span>
                                <span class="estrela" data-valor="2">&#9733;</span>
                                <span class="estrela" data-valor="3">&#9733;</span>
                                <span class="estrela" data-valor="4">&#9733;</span>
                                <span class="estrela" data-valor="5">&#9733;</span>
                            </div>

                        </div>
                        <div class="col-md-9">
                            <div class="sobre mt-3">

                                <div class="titulo-opaco">
                                    <b>CONFIRMAR AGENDAMENTO</b>
                                </div>
                                <div class="titulo-opaco">
                                    <i class="fa-regular fa-calendar"></i> &nbsp; 25/05/2024
                                </div>
                                <div class="titulo-opaco">
                                    <i class="fa-solid fa-clock"></i> &nbsp; 08:30
                                </div>
                                <div class="titulo-opaco">
                                    <i class="fa-solid fa-road"></i> &nbsp; Av. Portugal 4273 - Sala 303 - Itapoã
                                </div>
                                <div class="conteudo py-2">

                                    <form [formGroup]="formDados" (ngSubmit)="submitDados()">

                                        @if(showForm){
                                        <div>
                                            <div class="mt-3">
                                                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                                                <input type="text" class="form-control" formControlName="nome"
                                                    [ngClass]="{'is-invalid': formDados.get('nome')?.invalid && formDados.get('nome')?.touched}">
                                            </div>
                                            <div class="mt-1">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label">Whatsapp</label>
                                                <input type="text" class="form-control" formControlName="whatsapp"
                                                    mask="(00) 00000-0000"
                                                    [ngClass]="{'is-invalid': formDados.get('whatsapp')?.invalid && formDados.get('whatsapp')?.touched}">
                                                <div class="form-text">
                                                    Você receberá um código de confirmação no seu Whatsapp.
                                                </div>
                                            </div>
                                            <div class="mt-3">
                                                <button type="submit" class="btn btn-success w-100">Agendar</button>
                                            </div>
                                            <div class="mt-3">
                                                <button type="button" (click)="voltarPagina()" class="btn btn-secondary w-100">Voltar</button>
                                            </div>
                                        </div>
                                        }

                                    </form>
                                    @if(!showForm){

                                    <div class="mt-4">
                                        <label for="exampleFormControlInput1" class="form-label">Código</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="mt-3" style="display: flex; justify-content: space-between;">

                                        <div>
                                            <button type="button" class="btn btn-success">Confirmar</button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-secondary">Não recebi</button>

                                        </div>
                                    </div>
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</section>

<br><br><br>