.container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .btn-outline-primary {
    width: 100px;
    height: 50px;
  }
  
  .btn-outline-secondary {
    width: 100px;
  }
  
  input.form-control {
    max-width: 100px;
  }
  