@if(profissional === 'maeli'){
    <div style="font-size: 14px; text-align: justify;">
        <b>Olá, eu sou Maeli Alves!</b><br><br>

        Sou massoterapeuta e graduanda em Fisioterapia. Além disso, sou casada, mãe e cristã.<br><br>

        <b>Sobre as sessões</b>:<br><br>

        Cada sessão tem duração de <b>1 hora a 1 hora e 15 minutos</b>, e as técnicas são personalizadas de acordo
        com as suas necessidades.<br><br>

        🔹 <b>Técnicas disponíveis</b>:<br>
        ✅Drenagem linfática<br>
        ✅Liberação miofascial<br>
        ✅Massagem esportiva<br>
        ✅Massoterapia para relaxamento<br>
        ✅Ventosaterapia<br><br>

        💰 <b>Valor da sessão individual</b>: R$ 170,00<br><br>

        <!-- 📌 Confira os planos com desconto! [Clique aqui]<br><br> -->

        <b>Benefícios do tratamento</b>:<br><br>

        Através do toque terapêutico, ajudo você a conquistar mais qualidade de vida, aliviando:<br>
        ✅ Dores e tensões musculares<br>
        ✅ Inchaços e retenção de líquidos<br>
        ✅ Pós-operatório<br>
        ✅ Cuidados para gestantes e pós-parto<br><br>

        📅 <b>Agende seu horário</b> e aguarde a confirmação!<br><br>

        📲 <b>Dúvidas? Fale comigo pelo WhatsApp</b>:<br>
        <a style="text-decoration: none;" href="https://wa.me/5531973008283" target="_blank">📞 (31) 97300-8283</a><br><br>

        📍 <b>Atendimento presencial</b>:<br>
        Avenida Portugal, 4273 - Sala 304 - Itapoã
    </div>
}

@if(profissional === 'jessica'){
    <div style="font-size: 14px; text-align: justify;">
        <b>Alivie suas dores e recupere seu bem-estar!</b><br><br>

        Olá, sou <b>Jéssica Caroline</b>, massoterapeuta registrada em terapias holísticas e graduanda em Fisioterapia. Como prossional da área da saúde, meu compromisso é cuidar de você de forma individualizada, proporcionando alívio para dores, tensões e desconfortos musculares.<br><br>

        <b>Sessão de Liberação Miofascial – Tratamento personalizado para você!</b>:<br><br>

        Cada sessão tem duração de <b>1 hora a 1 hora e 15 minutos</b>, e as técnicas adaptadas às suas necessidades.<br><br>

        🔹 <b>Técnicas disponíveis</b>:<br>
        ✅Liberação miofascial<br>
        ✅Massagem esportiva<br>
        ✅Massoterapia para relaxamento<br>
        ✅Ventosaterapia<br>
        ✅Agulhamento a seco<br><br>

        💰 <b>Valor da sessão individual</b>: R$ 190,00<br><br>

        Se você sente dores, tensões ou simplesmente deseja cuidar melhor do seu corpo, estou aqui para ajudar! <br><br>

        <!-- 📌 Confira os planos com desconto! [Clique aqui]<br><br> -->

        📅 <b>Reserve seu horário agora mesmo</b> e aguarde a confirmação.        <br><br>

        📲 <b>Dúvidas? Fale comigo pelo WhatsApp</b>:<br>
        <a style="text-decoration: none;" href="https://wa.me/5531971391867" target="_blank">📞 (31) 97139-1867</a><br><br>

        📍 <b>Atendimento presencial</b>:<br>
        Avenida Portugal, 4273 - Sala 304 - Itapoã<br><br>

        Cuide da sua saúde com quem entende do assunto. Agende sua sessão hoje mesmo!
    </div>
}